/.container
  /h1 Create New User

  /= form_for @user do |f|
    /table
      /col width="200"
      /tr
        /td
          /= f.label :name
        /td
          /= f.text_field :name
      /tr
        /td
          /= f.label :email
        /td
          /= f.text_field :email
      /tr
        /td
          /= f.label :password
        /td
          /= f.password_field :password
      /tr
        /td
          /= f.label :password_confirmation
        /td
          /= f.password_field :password_confirmation
      /tr
        /td colspan="2"
          /= f.submit
