/ VIEW HELPER BY react-rails gem

/react_component(component_class_name, props={}, html_options={})

/component_class_name is a string which names a globally-accessible component class. It may have dots (eg, "MyApp.Header.MenuItem").
/props is either an object that responds to #to_json or an already-stringified JSON object (eg, made with Jbuilder, see note below).
/html_options may include:
/tag: to use an element other than a div to embed data-react-class and -props.
/prerender: true to render the component on the server.
/**other Any other arguments (eg class:, id:) are passed through to content_tag.

= react_component "Records", { data: @records }
