default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5

development:
  <<: *default
  database: development_database_name
test:
  <<: *default
  database: test_database_name

production:
  <<: *default
  database: production_database_name
  username: username
  password: <%= ENV['DATABASE_PASSWORD'] %>
